body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-light-hsl: 205, 70%, 80%;
  --primary-hsl: 205, 70%, 50%;
  --primary-dark-hsl: 205, 70%, 20%;
  --text-muted-hsl: 150, 50%, 98%;
}

.login-box {
  position: absolute;
  align-items: center;
  top: 10%;
  bottom: 10%;
  right: 20%;
  left: 20%;
  min-width: 300px;
  max-width: 450px;
  min-height: 500px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  --color: hsl(var(--primary-light-hsl), 0.2);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  border-radius: 1%;
  border-color: hsl(var(--primary-dark-hsl), 0.2);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 10%;
  bottom: 80%;
  width: 100%;
  padding: 10%;
  align-content: stretch;
  flex: 0 0 auto;
  margin: 0 auto;
  width: 100%;
}

.form {
  position: absolute;
  top: 50%;
  bottom: 60%;
  left: 0%;
  right: 0%;
  margin: 5%;
  margin-top: auto;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.form-group label {
  color: white;
  font-size: 1.25rem;
}

.form-group input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(var(--primary-dark-hsl), 0.3);
  border: none;
  outline: none;
  border-radius: 0.5em;
  font-weight: lighter;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: hsl(var(--text-muted-hsl), 0.5);
  padding: 5px;
}

.form-group input:focus {
  box-shadow: 0 0 2px 1px hsl(var(--primary-dark-hsl));
}

.form-group .msg {
  display: none;
  font-size: 0.75rem;
}

.input-group.success .msg,
.input-group.error .msg {
  display: block;
}

.login-button {
  position: absolute;
  left: 0%;
  right: 0%;
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--primary-dark-hsl));
  border: 1px solid hsl(var(--primary-hsl));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.login-button:hover,
.login-button:focus {
  background-color: hsl(var(--primary-hsl), 0.4);
}

.register {
  position: absolute;
  top: 90%;
  bottom: 5%;
  left: 0%;
  right: 0%;

  padding-bottom: 5%;
  text-align: center;
}