@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
}

.container-no-margin {
    --bs-gutter-x: 0r;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0; 
    padding-left: 0; 
    margin-right: 0;
    margin-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-light-hsl: 205, 70%, 80%;
  --primary-hsl: 205, 70%, 50%;
  --primary-dark-hsl: 205, 70%, 20%;
  --text-muted-hsl: 150, 50%, 98%;
}

.login-box {
  background-color: white;
}

.logo {
  top: 10%;
  left: 0%;
  right: 0%;
}

.form {
  position: relative;
  top: 30%;
  left: 0%; 
  right: 0%;
  bottom: 15%;
}

.form-group label {
  color: white;
  font-size: 12px;
}

.form-group input {
  font-size: 20px;
  padding: 0.5em;
  background-color: rgb(235, 235, 235);
  border: none;
  outline: none;
  border-radius: 0.5em;
  font-weight: lighter;
}

::placeholder {
  font-size: 20px;
  color: darkgray;
  padding: 5px;
}

.login-button {
  left: 50%;
  font-size: 25px;
  font-weight: lighter;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  margin-left: 31%;
}

.login-button:hover,
.login-button:focus {
  background-color: rgb(133, 133, 133);
}

.notebook-box-container {
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 5%;
  right: 0%;
}

.notes-box {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 2%;
  border-width: 2px;
  border-color: rgb(126, 126, 126)
}

.patients-box {
  position: absolute;
  border-style: solid;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 5%;
  border-radius: 2%;
  border-width: 2px;
  border-color: rgb(126, 126, 126)
}

.notebook-header {
  position: absolute;
  font-family: 'Montserrat';
  font-size: 36px;
  bottom: 100%;
  border-color: rgb(126, 126, 126)
}

textarea#text {
  outline: none;
}

body {
margin: 0;
}

*,
*::before,
*::after {
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

:root {
--primary-light-hsl: 205, 70%, 80%;
--primary-hsl: 205, 70%, 50%;
--primary-dark-hsl: 205, 70%, 20%;
--text-muted-hsl: 150, 50%, 98%;
--athens-gray-hsl: 240, 3%, 93%; 
--dark-athens-gray-hsl: 240, 3%, 10%; 
--silver-sand-hsl: 204, 8%, 55%; 
--silver: 0, 0%, 75%;
}

.login-box {
position: absolute;
align-items: center;
top: 10%;
bottom: 10%;
right: 10%;
left: 10%;
min-width: 250px;
max-width: 450px;
min-height: 400px;
max-height: 600px;
margin-left: auto;
margin-right: auto;
border-radius: 1%;
border-color: hsl(var(--primary-dark-hsl), 0.2);
border-width: 1px;
border-style: solid;
justify-content: flex-start;
flex-direction: column;
}

.logo {
position: absolute;
top: 10%;
bottom: 80%;
width: 100%;
padding: 5%;
align-content: stretch;
flex: 0 0 auto;
margin: 0 auto;
width: 100%;
}

.form {
position: absolute;
top: 50%;
bottom: 60%;
left: 0%;
right: 0%;
margin: 5%;
margin-top: auto;
flex-direction: column;
}

.form-group {
display: flex;
flex-direction: column;
margin: 5%;
}

::placeholder {
font-weight: 100;
font-size: 1em;
color: hsl(var(--silver-sand-hsl));
padding: 5px;
}

.form-group input:focus {
outline: none;
border-bottom: 5px solid black;
}

.form-group .msg {
display: none;
font-size: 0.75rem;
}

.input-group.success .msg,
.input-group.error .msg {
display: block;
}

.register {
position: absolute;
top: 90%;
bottom: 5%;
left: 0%;
right: 0%;

padding-bottom: 5%;
text-align: center;
}